.region-groups {
  display: flex;
  flex-direction: column;
}

.group {
  cursor: pointer;
  padding: 5px;
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.selected {
  background-color: #e0e0e0;
}

.sub-groups {
  list-style-type: none;
  margin-left: 20px;
}

.sub-groups li {
  cursor: pointer;
  padding: 5px;
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.sub-groups li.selected {
  background-color: #f0f0f0;
}
